<div class="panel">
  <div class="panel-heading panel-primary-wrap">

    <div style="float: right;">
      <div style="width:100%;">
        <div class="input-group" style="width:300px;">

          <input type="text" [(ngModel)]='listFilter' class="form-control" placeholder="Search by title..." style="float: left;">
          <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
        </div>
      </div>
    </div>
    <div style="clear: both;"></div>
  </div>
  <div class="panel-body">
    <div class="row">
      <ng-container *ngIf="movies && movies.length">
        <div class="card col-md-3"
             *ngFor="let movie of movies | movieFilter: listFilter">
          <div class="card-block">
            <p class="movie">
              <img [src]="movie.Poster" class="img-responsive img-rounded"
                   [title]="movie.Title" />
            </p>
            <p><b>Title:</b> {{movie.Title | uppercase }}</p>
            <p><b>Release Date:</b> {{movie.Released}}</p>
            <p><b>Genre:</b> {{movie.Genre}}</p>
            <p><b>Classification:</b> {{movie.classification}}</p>
            <p><b>Cast:</b> {{movie.cast}}</p>

          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
